@import '../../../css/variables.scss';

.footer-text {
    text-align: center;
    color: $text-two;
    font-weight: bold;
    font-family: "Google Sans Regular";
}

.footer-div {
    margin-top: 4rem;
}
